<site-layout>
  <@title>
    Hello <strong>${input.params.name}!</strong>
  </@title>
  <@content>
    <section>
      <h2>Routes</h2>
      <p>
        The code for this page is at <code>~/src/routes/hello/index.marko</code>. To create a new route, you create a directory under <code>routes/</code> and put an <code>index.marko</code> in it.
      </p>
    </section>
    </@content>
</site-layout>