body {
    color:#333333;
    background-color:#f3f3f3;

}
.container {
    display:flex;
}
.container div.left-panel {
    flex:1;

}
.container div.main-panel {
    flex:4;

}

#srs-qa input,textarea {
    display:block;

}

.hidden {
    display:none;

}