import srsApp from '~/src/app/srs/app'

class {
    onMenuClick(controlName, event, el) {
        srsApp.selectedControl = controlName;
    }

}


<ul.side-nav>
    <li on-click('onMenuClick', 'deck-list')>Decks</li>
    <li on-click('onMenuClick', 'statistics')>Stats</li>
</ul>