<site-layout>
    <@title>SRS Marko</@title>
    <@content>
        <div.main>
            <div.side-menu>
                <side-nav/>
            </div>
            <div.main-content>
                <multi-view controlName='deck-list' />
            </div>
        </div>
    </@content>

</site-layout>